<?php

$DEBUG_MODE = false;  // prints debug information and does not play video on Kodi

// Kodi information, can have more than one device ("name"=>"ip:port")
$KODI_ADDRESS = array("default"=>"localhost:8080");

// QR Code Generation
$QR_BASE_URL = "http://localhost/index.php";
$SECURITY_CODE = "1234";
$TOTAL_COLS = 4;  // how many columns for the QR code table
$QR_SIZE = 125;  // size of the generated QR code, in pixels

// Playback settings
$OVERRIDE_PLAYING = false;  //controls if scan will override currently playing Kodi content
?>
